name: "Regression Tests"

on:
  schedule:
  - cron: '0 0 * * 0'
  workflow_dispatch:

jobs:
  run-tests:
    continue-on-error: true
    strategy:
      matrix:
        version: ["v1.19.1", "v1.20.0", "v1.21.0", "v1.22.2", "v1.23.0", "v1.24.0-preview"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.11
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'
    - name: Install dependencies and local packages
      run: python -m pip install mpremote click
    - name: Install MicroPython
      uses: BrianPugh/install-micropython@v2
      with:
        reference: ${{ matrix.version }}
    - name: Install Micropython dependencies
      run: micropython -m mip install unittest
    - name: Run tests
      run: python -m ci.test
